.form-login
  width: 400px
  margin: 50px
  form
    display: flex
    flex-direction: column
    justify-content: space-around
    
    height: 330px

    .form-login-input-block
      display: flex
      align-items: flex-start
      flex-direction: column

      label
        color: hsl(278, 68%, 11%)
        font-size: small
        font-weight: bolder
        margin: 5px 0

      input
        width: 100%
        padding: 15px 10px
        border: 1px solid gray
        border-radius: 10px
        margin: 5px 0

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button 
        -webkit-appearance: none
        margin: 0
    .form-date
      display: flex
      flex-direction: row
      flex-wrap: nowrap

      input 
        width: 20%
        margin-right: 5px
    .form-date-cvc
      display: flex
    .form-login-btn
      width: 402px
      color: white
      background-color: hsl(278, 68%, 11%)
      padding: 15px 10px
      border: none
      border-radius: 10px
      cursor: pointer
